@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.About .About{
  font-family: 'Poppins', sans-serif;
}
/* .About .container-spec{
  border: 5px solid red;
} */

.About .text {
  /* border: 1px solid black; */
  padding: 25px 20px;
  /* background-color: rgb(239, 239, 239); */
  border-radius: 10px;
}

.About .body-container {
  /* border: 1px solid black; */
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
}
/* 
.About .image-format {
  border: 2px solid greenyellow;
} */

.About .left-part {
  max-width: 700px;
}

.About .title-company {
  padding: 0 20px;
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #3284ed;
}

.About .card-1 {
  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 5px 30px;
  max-width: 300px;
  min-height: 175px;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 50px 15px 0 15px;
  background-color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.About .card-1:hover {
  box-shadow: -8px 8px 10px 2px rgb(195, 185, 185);
  transition: 1s;
}

.About .cards-group {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;

}

.About .text-cards-section {
  /* border: 2px solid red; */
  background-color: rgb(245, 245, 245);
  padding: 50px 0px;
}

.About .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .cards-section-title {
  margin: 20px 0 10px 0;
  color: #3284ed;
}

.About .bod {
  border: 3px solid #4895ef;
  border-radius: 100px;
  min-width: 250px;
}

.About .cards-section {
  margin-bottom: 50px;
}

.About .circle {
  width: 85px;
  height: 85px;
  border-radius: 100%;
  box-shadow: 0px 4px 4px 2px rgb(195, 185, 185, 0.About .5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.About .icons {
  width: 35px;
}

.About .unique-factor {
  font-size: 0.8rem;
  margin: 20px 0 10px 0;
  max-width: 300px;
  color: #4895ef;
}

.About .info-section {
  /* border: 5px solid grey; */
  display: flex;
  justify-content: center;
}
.About .info-section .row{
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.About .image-custom {
  height: 512px;
  /* border: 2px solid greenyellow; */
}

.About .data-statistics {
  /* border: 2px solid palevioletred; */
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.About .data-statistics-text {
  margin: 0px 0px 0px 0px;
}

.About .container-1 {
  /* border: 2px solid goldenrod; */
  border-radius: 5px;
  min-width: 200px;
  margin: 0 15px 0 15px;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgb(195, 185, 185, 0.5);
}

.About .container-2 {
  /* border: 2px solid goldenrod; */
  border-radius: 5px;
  min-width: 200px;
  margin: 0 15px 0 15px;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgb(195, 185, 185, 0.5);
}

.About .container-3 {
  /* border: 2px solid goldenrod; */
  max-width: 500px;
  text-align: center;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px rgb(195, 185, 185, 0.5);
}

.About .upper-container {
  /* border: 5px solid yellowgreen; */
  padding: 25px 50px;
  display: flex;
  justify-content: space-evenly;
}

.About .custom-font {
  font-size: 1.5rem;
}

.About .data-statistics-text {
  color: #3284ed;
}

.About .info-section-2-left-part {
  /* border: 2px solid red; */
  margin: 15px 200px 0 200px;
}

.About .info-section-2-font {
  color: #3284ed;
  font-size: 3rem;
  margin: 10px 0 20px 34px;
}

.About .info-section-2 {
  margin: 50px 0px 0px 0px;
}

.About .bullets {
  color: #4895ef;
  margin: 10px 0 10px 0;
}

.About .list {
  list-style: none;
}



.About .search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.About .search {
  padding: 10px 15px;
  min-width: 450px;
  font-size: 1rem;
  border-radius: 5px;
  border-style: none;
}

.About .container {
  display: flex;
  min-width: 1500px;
  max-width: 600px;
  margin-inline: auto;
  position: relative;
  justify-content: space-between;
  margin-bottom: 10px;
}

.About .logo-section {
  padding-inline: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.About .navbar-li {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-block: 25px;
  padding-inline: 20px;
  cursor: pointer;
}

.About .btn {
  padding: 10px 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  font-weight: bold;
}

.About .btn-primary {
  background-color: #4895ef;
  border: 2px solid #4895ef;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.About .link-section {
  z-index: 1;
}

.About .link {
  padding: 10px;
  border-radius: 5px;
}

.About .primary {
  border: 2px solid #4895ef;
  color: #4895ef;
  background: transparent;

}


.About .footer-section {
  min-width: 800px;
  margin-inline: auto;
  margin-bottom: 10vh;
  margin: 100px 50px 0 50px;
}

.About .items {
  display: flex;
  justify-content: center;
  /* border: 2px solid greenyellow; */
}

.About .border-style {
  border-top: 1px solid grey;
  opacity: 0.5;
  margin-block: 25px;
}

.About .footer-1 {
  display: flex;
}

.About .footer-2 {
  margin-block: 40px;
}

.About .footer-1 p:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}

.About .footer p {
  justify-content: center;
  padding-inline: 40px;
  padding-top: 10px;
}

.About .hover-links:hover {
  color: #4895ef;
}

.About .footer {
  border-top: 1px solid #4895ef;
  width: 100%;
  display: flex;

}

.About .link {
  padding: 10px;
  border-radius: 5px;
}


.About .section ul li {
  list-style: none;
  color: #4895ef;
  transition: 0.3s ease-in-out;
}

.About .section ul li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
}

.About .section ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.About .section {
  min-width: 300px;
  padding: 15px 10px;
}

.About .border-style {
  border-top: 1px solid grey;
  opacity: 0.5;
  margin-block: 25px;
}

.About .footer-section h2 {
  color: #4361ee;
}

.About .footer-1 p {
  font-size: 1rem;
  border-right: 1px solid grey;
  padding: 0px 10px;
  color: #4895ef;
  cursor: pointer;
}

.About .footer-1 p:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}