.Contect .image .con-imag{
    height: 70vh;
    opacity:0.9;
    padding: 20px;
    border-radius: 30px;
}
.Contect .card-img-overlay{
    margin-top: 170px;
}
.Contect .con-link{
    text-decoration: none;
    color: whitesmoke;
}

.Contect .poster{
   margin-left: 80px;
}

.Contect .poster .box{
  background-color: rgb(250, 250, 250);
}
.Contect .email-img{
  font-size: 55px;
  color: rgb(82, 82, 193);
}
.Contect .poster .box{
  padding: 10px;
  text-align: center;
  justify-content: space-between;
  box-shadow: 3px 3px 10px black;
}
.Contect .poster .row{
  justify-content: space-evenly;
  margin-top: 25px;
  margin-right: calc(var(--bs-gutter-x) * -.0);
  margin-left: calc(var(--bs-gutter-x) * -.0);
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");


.form-container {
	background-color: #fff;
	border: 3px solid #4895ef;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* padding: 30px 60px; */
	text-align: center;
	/* width: 600px; */
	/* max-width: 100%; */
}

.form-container p {
	color: rgb(136, 136, 136);
	letter-spacing: 0.4px;
  margin-bottom: 0px;
}

.form-container form {
	width: 100%;
}

.form-container .input-area {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.form-container .h-80 {
	height: 80px;
}

.form-container input, .form-container textarea {
  position: absolute;
	display: block;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	padding: 12px;
	height: 100%;
	width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  resize: none;
}


.form-container .sendbtn {
  display: block;
  width: 100%;
	background: #4895ef;
	color: #fff;
	font-size: 18px;
	padding: 11px;
  border: none;
	border-radius: 4px;
  cursor: pointer;
}

.form-container .sendbtn:hover {
  background-color: #66b9e0;
}

@media screen and (max-width: 600px) {
	.form-container {
		padding: 20px 30px;
	}
}


.connect-btn {
	border-radius: 26.5px;
	background-color: #4895ef;
	border: 1px solid #4895ef;
	box-shadow: 0 16px 22px -17px #4895ef;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.connect-btn:hover {
	background-color: #4895ef;
}

.contect-map{
  background-color: rgb(241, 241, 241);
}