.imgnav {
    background: -webkit-linear-gradient(-45deg, #141c96, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-shadow: 0px 0px 23px black;
    font-weight: bold;
    margin-right: 40px;
  }
  .navbar-nav .nav-item a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
  }